{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <h1 class="text-center" align="center">BookLandia</h1>
    <hr>
    <h3 class="text-center" align="center">Getting Started!</h3>

    <h4 align="center">Booklandia is all about sharing your library.</h4>
    <h4 align="center">Search for a book and add to your library!</h4>

    <form id="find-book-form">

        <div class="form-group">
            <label for="title">Title of Book: </label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="author">Author of Book: </label>
            <input type="text" class="form-control" id="author">
        </div>
        <button class="btn btn-success m-2">Find my book</button>

    </form>

    <div class="row mt-3" id="shows-found-books">
    </div>
    <hr>
    <hr>
</div>
{% endblock %}