<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <script src="https://unpkg.com/jquery"></script>
    <title>BookLandia</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a href="/" class="navbar-brand">BookLandia</a>


            <ul class="nav navbar-nav flex-row float-right">
                {% if not g.user %}
                <li class="nav-item mr-2"><a class="nav-link" href="/register">Sign Up |</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/login">Log In</a></li>
                {% else %}
                <li class="nav-item mr-2">
                    <form class="d-flex" method="GET" action="/search" id="search">
                        <input type="text" id="term" name="term" class="form-control me-2" placeholder="Search Shelves"
                            aria-label="Search">
                        <button class="btn btn-success ml-1" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item mr-2"><a class="nav-link" href="/user/all"><i class="fas fa-users"></i>
                        BookLandiers&nbsp| </a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/addbooks">Add Books to Library &nbsp|</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/user/library">Your Library &nbsp|</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/user/requests">Requests &nbsp|</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/user/profile">Profile &nbsp|</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="/logout">Log out &nbsp|&nbsp{{g.user.username}}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top: 2em">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/booklend.js"></script>
</body>

</html>