{% extends 'base.html' %}

{% block content %}
<h1>BookLandia's Latest Book Additions</h1>

{% for s in status %}
<div class="card">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="{{s.book.cover_img_url_m}}" class="img-fluid rounded-start m-3" alt="{{s.book.title}}">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{s.book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">By {{s.book.author}}</h6>
                <p class="card-text">Published: <small class="text-muted"><mark>{{s.book.published_year}}
                        </mark></small>
                    Location: <small class="text-muted"><mark>{{s.location}} </mark></small> Condition: <small
                        class="text-muted"><mark>{{s.condition}}</small></mark> </p>
                <p class="card-text">{{s.book.description}}</p>
                <p class="card-text"><em>Subjects: {{s.book.subjects}}</em></p>
                <a class="btn btn-info btn-md" href="/book/{{s.book_id}}/reserve">Reserve Book</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}