{% extends 'base.html' %}

{% block content %}
<h1>Requests Made</h1>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Location</th>
                <th scope="col">Owner</th>
                <th scope="col">Requestor</th>
                <th scope="col">Condition</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for s in statuses %}
            <tr>
                <th scope="row">{{s.book_id}}</th>
                <td><img src="{{s.book.cover_img_url_s}}" class="img-fluid rounded-start" alt="{{s.book.title}}"></td>
                <td>{{s.book.title}}</td>
                <td>{{s.book.author}}</td>
                <td>{{s.location}}</td>
                <td>{{s.user.username}}</td>

                <td>{% if s.user_id != g.user.user_id %}
                    {{g.user.username}}
                    {% else %}
                    {% for r in requestor %}
                    {% if s.book_id == r.book_id and s.user_id == r.status_owner_id %}
                    <a href="/user/profile/{{r.user.user_id}}">
                        <i class="fas fa-user-circle"></i>
                        {{r.user.username}}</a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{{s.condition}}</td>
                <td>
                    {% if s.user_id == g.user.user_id and s.location != "Checked Out" %}
                    <form method="POST" action="/book/{{s.book_id}}/{{s.user_id}}/approve">
                        <button class="badge bg-success bg-secondary m-1" type="submit">Approve</button>
                    </form>
                    <form method="POST" action="/book/{{s.book_id}}/{{s.user_id}}/reject">
                        <button class="badge bg-danger bg-secondary m-1" type="submit">Reject</button>
                    </form>
                    {% elif s.location != "Checked Out" %}
                    Pending Approval
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}