{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <h1 class="text-center" align="center">BookLandia</h1>

    <h5 align="center">Review for {{lender.username}}</h5>

    <div class="row g-0">



        <div class="form-group col-9 border-start">

            <form method="POST">

                {{ form.hidden_tag() }}

                {% for field in form
                if field.widget.input_type != 'hidden' %}
                <p>
                    {{ field.label }}
                    {{ field(class_="form-control") }}

                    {% for error in field.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                    {% endfor %}
                </p>
                {% endfor %}

                <button class="btn btn-success p-1">Post Review</button>

            </form>
            <a class="btn btn-primary text-light mt-3" href="/">Cancel</a>
        </div>
    </div>
</div>

{% endblock %}