{% extends 'base.html' %}

{% block content %}
<div class="col-md-8">



    <h2>{{user.username}} - Profile Update
        <hr>
    </h2>

    <form method="POST" id="profile_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control mt-2") }}
        {% endfor %}

        <button class="btn btn-primary btn-lg btn-block mt-2">Save</button>
    </form>


</div>
{% endblock %}